@tailwind base;
@tailwind components;
@tailwind utilities;


.main-content{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
}

@media screen and (max-width: 640px)  {
    .sidebar {
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        transform: rotate(90deg);   
        margin: 50px;     
    }

    .main-content{
        left: 80px;
    }
}